name: call-block-logs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: cd scripts && chmod +x * && ./generateBlockLogsCrawlPath
