name: Index data

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout neume-network/data repository
      uses: actions/checkout@v3
      with:
        path: data

    - name: Checkout neume-network/core
      uses: actions/checkout@v3
      with:
        repository: neume-network/core
        path: core
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
